/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root {
  --color-blue: #142d38;
  --color-blue-light: #153144;

  /*--color-blue: #2C497F;*/
  --color-blue-light1: #325493;
  --color-blue-light2: #385EA5;
  --color-blue-light3: #3F69B7;
  --color-blue-light4: #4C75C2;

  --color-orange: #ef5e4e;
  --color-orange-light1: #F0695A;
  --color-orange-light2: #F17567;
  --color-orange-light3: #F28074;

  --color-orange-dark1: #ED4B39;
  --color-orange-dark2: #EB3824;
  --color-orange-dark3: #E32A15;

  --color-dark-navy: #142D38;

  --color-purple: #3D2B56;

  --color-primary: #ef5e4e;
  --color-secondary: #2C497F;
  --color-secondary-light: #5361bf;

  --color-action: var(--color-primary);
}

/*--------------------------------------------------------------
# General Overrides
--------------------------------------------------------------*/
.h3, h3 {
   font-size: 1.5rem !important;
}

/*--------------------------------------------------------------
# Bootstrap Overrides
--------------------------------------------------------------*/
.btn {
  border-radius: 0;
  font-size: 14px !important;
  font-weight: normal !important;
}

p {
  font-weight: normal !important;
  font-size: 16px !important;
}

p.secondary {
  font-size: 14px !important;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: var(--color-orange);
}

a:hover {
  color: var(--color-orange-dark3);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

.bg-blue {
  background: var(--color-blue) !important;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: var(--color-primary);
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: var(--color-orange);
  color: #fff;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--color-blue);
  border-top-color: #e7e4fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(20, 45, 56, 0.9);
  padding: 12px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  #header .logo {
    flex-direction: column;
  }

  #header .logo-text {
    margin-top: 10px;
    margin-left: 0;
  }
}

#header .logo-text {
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-left: 10px;
  letter-spacing: normal;
  text-transform: capitalize;
}

#header .logo i {
  /*position: relative;*/
  /*top: 3px;*/
}

#header .logo a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .logo img {
  max-height: 60px;
}

@media (max-width: 992px) {
  #header {
    padding: 12px 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > :not(a.no-underline):before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 22px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #2c4964;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: var(--color-primary);
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 30px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #2c4964;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: var(--color-primary);
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(28, 47, 65, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/* Get Startet Button */
.get-started-btn {
  background: var(--color-orange);
  margin-left: 25px;
  color: #fff;
  border-radius: 0;
  padding: 6px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  /*font-weight: 600;*/
  display: inline-block;
  border: 2px solid var(--color-orange);
}

.get-started-btn:hover {
  background: var(--color-orange-dark2);
  border-color: var(--color-orange-dark2);
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

@media (max-width: 767px) {
  .get-started-btn {
    display: none;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh );
  /*height: 1050px;*/
  /*background: linear-gradient(45deg, rgba(44, 73, 127, 0.9) 0%, rgba(44, 73, 127, 0.9) 100%), url(../img/hero-bg3.jpg) center center no-repeat;*/
  background: linear-gradient(45deg, rgba(20, 45, 56, 0.95) 0%, rgba(20, 45, 56, 0.95) 100%), url(../img/hero-bg.jpg) center center no-repeat;
  background-size: cover;
}

#hero .demand-text {
  color: var(--color-orange);
  font-weight: bold;
  margin-bottom: 20px;
}

#hero .container, #hero .container-fluid {
  /*padding-top: 84px;*/
  position: absolute;
  top: 200px;
}

#hero h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0 0 0;
  font-size: 20px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 0;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  /*#00b36b*/
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#hero .hero-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 2px;
}

#hero .demand-text {
  display: flex;
  align-self: flex-end;
  font-size: 41px;
}

#hero .hero-Ws {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

@media (min-width: 992px) {
  #hero .hero-Ws {
    margin-top: 100px;
  }
}

@media (max-height: 700px) {
  #hero .hero-Ws {
    margin-top: 0;
  }
}

@media(min-width: 992px) and (max-height: 600px) {
  #hero .hero-Ws {
    margin-top: 0;
  }

  #hero .hero-img-container {
    justify-content: center !important;
  }

  #hero .hero-text-container {
    display: flex !important;
    justify-content: center !important;
  }

  #hero .hero-text h1 {
    font-size: 30px !important;
  }

  #hero .hero-img img {
    width: 60% !important;
  }

  #hero .Ws .W-text {
    font-size: 1.3rem !important;
    margin: 0 30px !important;
  }
}


@media(max-width: 992px) and (max-height: 700px) {
  #hero .hero-Ws {
    margin-top: 0;
  }

  #hero .container, #hero .container-fluid {
    position: unset !important;
    top: unset;
    margin-top: 30%;
  }

  #hero .hero-img-container {
    justify-content: center !important;
  }

  #hero .hero-text-container {
    display: flex !important;
    justify-content: center !important;
  }

  #hero .hero-text h1 {
    font-size: 30px !important;
  }

  #hero .hero-img img {
    width: 50% !important;
  }

  #hero .Ws .W-text {
    font-size: 1.3rem !important;
    margin: 0 30px !important;
  }
}

#hero .Ws{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#hero .Ws .W-text {
  margin: 0 50px;
  color: var(--color-orange);
  font-weight: bold;
}

#hero .quote-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  text-align: center;
  margin: auto;
  line-height: 1;
  color: white;
  padding: 40px 0;
}

#hero .quote-text {
  max-width: 750px;
  font-weight: 100;
  line-height: 1.5em;
  font-style: italic;
  /*text-align: left;*/
  font-size: 1.3rem;
  font-family: serif;
}

#hero .quote-sign {
  font-size: 30px;
}

#hero .quote-icon {
  width: 30px;
  margin-left: 10px;
}

#hero .hero-img img {
  width: 80%;
}

#hero .hero-img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 991px) {
  #hero .hero-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hero .hero-text {
    justify-content: center;
  }

  #hero .hero-img-container {
    justify-content: center;
  }

  #hero .Ws .W-text {
    font-size: 20px;
    margin: 5px 10px;
  }
}

@media (min-width: 1200px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    height: calc(100vh + 100px);
    text-align: center;
  }
  #hero .container, #hero .container-fluid {
    /*padding-top: 68px;*/
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
    margin-bottom: 20px;
  }

  #hero .
}

@media (max-width: 1700px) {
  #hero .hero-text h1 {
    font-size: 50px;
  }
}

@media (max-width: 1400px) {
  #hero .hero-text h1 {
    font-size: 40px;
    line-height: 1.3;
  }
}

@media (max-width: 500px) {
  #hero .hero-text h1 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  #hero .hero-text h1 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  #hero {
    /*height: 1050px;*/
  }
  #hero h1 {
    font-size: 26px;
    line-height: 36px;
  }
  #hero .demand-text {
    font-size: 25px;
    /*line-height: 36px;*/
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  #hero .hero-img img {
    width: 60%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 300px) {
  #hero {
    height: calc(100vh + 300px);
  }
}

.hero-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-orange);
  margin: 30px 0;
}

.hero-icon-container img {
  width: 70px;
  height: 50px;
  margin-bottom: 30px;
}

.hero-icon-container h6 {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
    word-break: break-word;
    max-width: 200px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px 0;
  overflow: hidden;
  color: rgb(44,73,127);
}

.section-bg {
  /*background-color: #f9f8ff;*/
  background-color: #dce0e7;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--color-orange);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-blue);
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  max-width: 700px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding: 120px 0;
}

.about-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-img-container img {
  width: 70%;
}

.about-under-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.about-under-img-container h5 {
  color: var(--color-orange);
  font-weight: bold;
}

.about-under-img-container p {
  margin: 0;
  font-weight: 600;
}

.about-under-img-container .social-links {
  margin-top: 20px;
}

.about-under-img-container .social-links a {
  font-size: 30px;
  display: inline-block;
  background: black;
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.about-under-img-container .social-links a:hover {
  /*background: rgba(255, 255, 255, 0.2);*/
  color: var(--color-orange);
  text-decoration: none;
}

.about .content h3 {
  /*font-weight: 600;*/
  /*font-size: 32px;*/
  /*color: var(--color-blue);*/
}

.about .about-content-container {
  margin-top: 50px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5846f9;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .read-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 50px 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
  position: relative;
}

.about .content .read-more:hover {
  background: linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
}

.about .content .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}

.about-item {
  margin-bottom: 25px;
}

.whyUs .about-item {
  margin-bottom: 50px;
}

.about-item-title {
  text-transform: uppercase;
  color: var(--color-orange) !important;
}

.about-item-description {
  color: rgb(44,73,127);
  font-weight: 600;
}

.whyUs .about-item-description {
  color: white;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team-member-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-member-img-container img {
  width: 70%;
  border: 1px solid #c4cad4;
  border-radius: 50%;
}

.team-member-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  max-width: 300px;
  margin-top: 20px;
  font-weight: 600;
}

.team-btn-learn-more {
  width: 150px;
  margin-top: 10px;
}

.member-name {
  color: var(--color-orange);
  font-weight: bold;
  text-align: center;
}

.member-position {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.team-member-content {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.team-member-content .quote-text {
  font-style: italic;
  color: var(--color-orange);
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  font-family: serif;
}

.team-member-content p {
  font-weight: 600;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .icon-box h4 {
  /*font-size: 20px;*/
  /*font-weight: 700;*/
  /*margin: 5px 0 10px 60px;*/
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: var(--color-blue);
}

.features .icon-box p {
  /*font-size: 15px;*/
  color: black;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.services-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.services-img-container .service-item-content {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.services-img-container img {
  width: 80%;
}

.service-item {
  display: flex;
}

.service-img {
  /*width: 80px;*/
  /*height: 70px;*/
  width: 70px; !important;
  height: 70px; !important;
  /*height: 55px;*/
}

.service-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 20px;
}

.service-item-content h4, .service-item-content h5 {
  margin: 1px 0 !important;
}

.service-item-content h4 {
  color: var(--color-orange);
}

.service-item-content p {
  color: black;
  font-weight: 600;
}


/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.paths-row .col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .courses .paths-row {
    padding: 0 50px;
  }

  .courses .hero-icons {
    padding: 0 50px;
  }
}

.courses .card-deck {
  padding-left: 15px;
  padding-right: 15px;
}

.courses .col-md-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.courses .course-card {
  /*box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);*/
  border: none;
  width: 90%;
  margin: auto;
  height: 100%;
  border: 2px solid #ffffff;
}

.course-card .card-body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 7px;
}

.course-card .btn-course {
  position: absolute;
  top: -35px;
  background: #2c497f;
  border-color: #2c497f;
  font-size: 14px;
}

.courses .course-card:hover {
  box-shadow: 0 15px 30px -8px rgba(0, 0, 0, 0.15), 0 -4px 30px -8px rgba(0, 0, 0, 0.1);
}

.courses .course-card .card-img-top {
  height: 285px;
  object-fit: cover;
}

.academy-description-container {
  max-width: 900px;
  margin: auto;
}

.courses .academy-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.courses .academy-description-container p {
  font-weight: 600;
  font-size: 18px;
}

.course-card .card-title {
  margin-bottom: .75rem;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  color: #2c497f;
  margin-top: 10px;
  text-transform: uppercase;
}

.courses {
  color: white;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  /*background: linear-gradient(42deg, var(--color-blue) 0%, var(--color-blue-light2) 100%);*/
  /*background: var(--color-blue);*/
}

@media (min-width: 768px) {
  .faq .nav-pills {
    padding: 0 100px;
  }
}

.faq .nav-link {
  font-weight: bold;
  color: rgba(20,45,56,1);
}

.faq .nav-link.active {
  background: unset;
  color: var(--color-orange);
}

.faq .section-title p {
  color: #fff;
}

.faq .section-title h2::after {
  /*background: rgba(255, 255, 255, 0.6);*/
}

.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  color: var(--color-orange);
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: var(--color-blue);
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: var(--color-blue);
}

.faq .faq-list a.collapsed:hover {
  color: var(--color-orange);
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background: #16272e;
  color: white;
  padding: 50px 0;
}

.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}

.contact .info-box i {
  font-size: 32px;
  color: var(--color-blue);
  border-radius: 50%;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #2c4964;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.btn-orange {
  border: 2px solid var(--color-orange);
  background-color: var(--color-orange);
}

.btn-orange:hover {
  background: var(--color-orange-dark1);
  border-color: var(--color-orange-dark1);
}

.btn-blue {
  border: 2px solid var(--color-blue);
  background-color: var(--color-blue);
  color: white;
}

.btn-blue:hover {
  background: var(--color-dark-navy);
  border-color: var(--color-dark-navy);
  color: white;
}

.contact .btn-join {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}

.quote {
  padding: 50px 0;
}

.quote .quote-wrapper {
  font-style: italic;
  text-align: left;
  width: 60%;
  margin: auto;
  line-height: 1;
}

.quote .quote-sign {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .quote .quote-wrapper {
    width: 80%;
  }
}

.quote .quoter {
  text-align: right;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  /*color: #fff;*/
  /*font-size: 14px;*/
  /*background: linear-gradient(45deg, rgba(44, 73, 127, 0.9) 0%, rgba(56, 94, 165, 0.9) 100%), url(../img/hero-bg.jpg) center center no-repeat;*/
  /*background: linear-gradient(45deg, rgba(20, 45, 56, 0.9) 0%, rgba(20, 45, 56, 0.9) 100%), url(../img/hero-bg.jpg) center center no-repeat;*/
  /*background-size: cover;*/
  background: #142d38;
  color: white;
  padding: 30px 0;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
  text-align: center;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline;
  color: #fff;
}

#footer .copyright-wrap {
  border-top: 1px solid var(--color-orange);
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  /*background: rgba(255, 255, 255, 0.1);*/
  background: white;
  color: black;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  /*background: rgba(255, 255, 255, 0.2);*/
  color: var(--color-orange);
  text-decoration: none;
}

footer .copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer .copyright-container img {
  width: 150px;
}

footer .copyright-container span {
  font-size: 10px;
  font-weight: 600;
}

@media (max-width: 992px) {
  footer .copyright-container span {
    text-align: center;
  }

  .services-img-container {
    margin-top: 30px;
  }
}

footer .social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer .social-media-container span {
  font-size: 12px;
  font-weight: 600;
}

footer .email-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer .email-container img {
  width: 30px;
  cursor: pointer;
}

footer .email-container span {
  font-size: 12px;
  font-weight: 600;
}

footer .footer-container {
  height: 100%;
  margin: 10px auto;
}

@media (max-width: 768px) {
  footer .footer-container {
    height: auto;
  }
}
